@import "utilities.css";

:root{
    --primary: #00aab4;
    --dark: #102336;
    --pure: #e72a67;
    --ternary: #ece9e9;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}

header{
    width: 100%;
    background-image: linear-gradient(to top, #102336 0%, #e72a6698 100%), url(../images/appbuilding.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* NAV */

.container{
    max-width: 1152px;
    padding:0 15px;
    margin: 0 auto;
    overflow: hidden;
}

.branding {
    margin-left: 1rem;
}

header nav .right a {
    color: var(--ternary); 
    text-decoration:none;
    margin-right: 1rem;
    text-transform: uppercase;
    transition: all .3s ease;
    font-size: 1.2rem;
}

header nav .right a:hover{
    color: var(--primary);
}

.container-nav {
    padding: 1rem 0;
}

header nav .branding {
    margin-right: 3rem;
}

/* HERO */

.hero {
    padding-top: 5rem;
    color: var(--ternary);
    height: 500px; }

.contenedor-textos {
    margin: auto;
    padding-top: 4rem;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.contenedor-textos p {
    align-self: center;
    margin-left: 4rem;

}

.boton-hero {
    transform: translateX(205%);
}

.hero h6 {
    width: 100%;
    font-size: 2rem;
    color: var(--ternary);
    margin-bottom: 0.5rem;
    margin-bottom: 1rem;

}

.hero h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: var(--primary);
    width: 100%;
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.hero span {
    color: var(--pure);
}    
.hero p {
    line-height: 1.9;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

/* SOBRE NOSOTROS */

section.nosotros{
    padding: 1rem 0;
    padding-bottom: 1rem;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-wrap: wrap;
}

.sobre-nosotros{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.nosotros h2 {
    margin-bottom: 1rem;
    font-size: 4rem;
    color: var(--primary);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

section.nosotros h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 800;
    color: var(--pure);
}

section.nosotros p {
    color: var(--ternary);
    line-height: 1.2;
    margin-bottom: 2rem;
}

.relatos{
    width: 40%;
}

.imagen-hola{
    width: 50%;
}

/* SVG */

.svg {
    background-color: var(--ternary);
}

/* SERVICIOS */

section.servicios{
    padding-top: 1rem;
    padding-bottom: 5rem;
    background-color: var(--ternary);
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-wrap: wrap;
}

.section-heading{
    margin-bottom: 1rem;
    font-size: 4rem;
    color: var(--primary);
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 800;
}

.section-heading + p {
    color:var(--pure);
    margin-bottom: 9rem;
    text-align: center;
    font-weight: 800;
}

section.servicios .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
    background-color: var(--ternary);
}    

section.servicios .card-wrapper .card {
    background-color: var(--dark);
    color: var(--ternary);
    padding: 1rem 2rem;
    position: relative;
    padding-top: 4rem;
    text-align: center;
}

section.servicios .card-wrapper .card img {
    position: absolute;
    width: 40%;
    top: -5.5rem;
    left: 50%;
    transform: translateX(-50%);
}

section.servicios .card-wrapper .card h3 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

section.servicios .card-wrapper .card p {
    line-height: 1.6;
    font-size: 1rem;
}

section.servicios .card-wrapper .card:hover {
    background-color: var(--pure);
    color: var(--ternary);
}

/* NOSOTROS */

section.presentacion{
    padding: 5rem 0;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-wrap: wrap;
}

.section-heading{
    margin-bottom: 1rem;
    font-size: 4rem;
    color: var(--primary);
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 800;
}

.section-heading + p {
    color:var(--pure);
    margin-bottom: 9rem;
    text-align: center;
    font-weight: 800;
}

section.presentacion .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
    place-items: center;
    background-color: var(--dark);
    flex-wrap: wrap;
}    

section.presentacion .card-wrapper .card {
    background-color: var(--ternary);
    color: var(--primary);
    padding: 1rem 2rem;
    position: relative;
    padding-top: 3rem;
    text-align: center;
}

section.presentacion .card-wrapper .card img {
    height: 110px;
    position: absolute;
    width: 30%;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 24px;
}

section.presentacion .card-wrapper .card h3 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

section.presentacion .card-wrapper .card p {
    line-height: 1.6;
    font-size: 0.9rem;
}

section.presentacion .card-wrapper .card a {
    text-decoration: none;
    color: var(--dark);
    
}

section.presentacion .card-wrapper .card a:hover {
    color: var(--dark);
}

section.presentacion .card-wrapper .card:hover {
    background-color: var(--pure);
    color: var(--ternary);
    font-weight: 400;
}

/* REVIEWS */

section.reviews{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

section.reviews .section-heading + p {
    color:var(--pure);
    margin-bottom: 4rem;
    text-align: center;
    font-weight: 800;
}

section.reviews .slider .slide img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}

section.reviews .slider .slide {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;

}

section.reviews .slider .slide p {
    color: var(--dark);
    margin-bottom: 1rem;
}

section.reviews .slider-dots .slide span {
    font-size: 0.8rem;
    color: var(--dark);
}

section.reviews .slider-dots .dots{
    list-style-type:none;
    display: flex!important;
    justify-content: center;
}

section.reviews .slider-dots {
    margin-top:2rem;
}

section.reviews .slider-dots button {
    font-size:0;
    width:8px;
    height:5px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--dark);
    border-radius: 50px;
    cursor: pointer;

}

section.reviews .dots li.slick-active button {
    background: var(--pure);
    width: 20px;
}

/* CONTACTO*/

section.contact{
    padding: 5rem 0;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-wrap: wrap;
}

section.contact .section-heading + p {
    margin-bottom: 4rem;
    text-align: center;
    font-weight: 800;
}

section.contact .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
    background-color: var(--dark);
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

section.contact .card-wrapper .card {
    background-color: var(--dark);
    color: var(--ternary);
    padding: 1rem 2rem;
    position: relative;
    text-align: center;
    border: none;
}

section.contact .card-wrapper .card i{
    margin-bottom: 2rem;
    width: 40%;
    padding-right: 9rem;
}

section.contact .card-wrapper .card h3{ 
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--ternary);
}

section.contact .card-wrapper .card h6 {
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
}

/* FORM CONTACTO */

section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
    background-color: var(--dark);
}

section.contact .input-wrap-2{
    display:flex;
    flex-direction: column;
}

section.contact .input-wrap-2 input {
    margin-bottom: 2rem;
    border: 1px solid var(--primary);
    background-color: var(--dark);
    font-size: 0.9rem;
}

section.contact input {
    padding: 0.5rem;
    border: 1px solid var(--primary);
    background-color: var(--dark);
    font-size: 0.9rem;
    color: var(--ternary);
}

section.contact .input-wrap-2 textarea {
    padding: 0.5rem;
    border: 1px solid var(--primary);
    background-color: var(--dark);
    font-size: 0.9rem;
    color: var(--ternary);
}

section.contact .input-wrap-2 textarea:focus {
    outline: none;
    outline-color: var(--ternary);
    color: var(--ternary);
}

section.contact input:focus {
    outline: none;
    outline-color: var(--ternary);
    color: var(--ternary);
}

section.contact .btn-wrapper {
    text-align: center;
    margin-top: 3rem;
}

/* FOOTER */ 

footer {
    background-color: var(--ternary);
    text-align: center;
    padding: 2rem 0;
}

footer .footer-logo {
    margin-bottom: 3rem;
}

footer .footer-socials {
    margin-bottom: 2rem;
}

footer .footer-socials a {
    margin-right: 1rem;
}

footer .copyright {
    color: var(--dark);
}